{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "plugins": [
      "react",
      "jsx-a11y",
      "import"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb"
  ],
  "rules": {
    "react/no-unused-prop-types": [1, { "skipShapeProps": true }],
    "react/jsx-filename-extension": "off"
  }
}